@using Discussion.Core.Models
@model User
@{
    ViewData["Title"] = "Setting";
}
<h2>Setting</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            @using (Html.BeginForm("DoSetting", "Accout", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @if (string.IsNullOrEmpty(Model.EmailAddress) && !Model.IsActivation)
                        {
                            <lable>尚未绑定邮箱</lable>
                        }
                        else
                        {
                            <span>@Model.EmailAddress</span>
                        }
                    </div>
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="设置" class="btn btn-default" onsubmit="settime(this)"/> 
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<script type="text/javascript">
    var countdown = 30;
    function settime(val) {
        if (countdown == 0) {
            val.removeAttribute("disabled");
            val.value = "免费获取验证码";
            countdown = 30;
        } else {
            val.setAttribute("disabled", true);
            val.value = "重新发送(" + countdown + ")";
            countdown--;
        }
        setTimeout(function () {
            settime(val)
        }, 1000)
    } 
</script>