@model SigninUserViewModel
@{
    ViewData["Title"] = "用户登录";
}

@section Head{
    <environment names="Development">
        <link rel="stylesheet" href="~/stylesheets/css/signin.css" />
    </environment>
    <environment names="QA,Integration,Staging,Production">
        <link rel="stylesheet" href="~/stylesheets/css/signin.min.css" asp-append-version="true" />
    </environment>
}


<div class="row">
    <div class="panel no-padding panel-topic-list col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel-heading">
            用户登录
        </div>

        <div class="panel-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <form class="login-form"
                  action="@Url.Action("DoSignin", "Account", new {ReturnUrl = Context.Request.Query["ReturnUrl"]})"
                  method="post">
                <fieldset>
                    <label>
                        <span>@Html.DisplayNameFor(m => m.UserName)</span>
                        @Html.TextBoxFor(m => m.UserName, new {autofocus = true})
                    </label>
                </fieldset>
                <fieldset>
                    <label>
                        <span>@Html.DisplayNameFor(m => m.Password)</span>
                        @Html.PasswordFor(m => m.Password)
                    </label>
                </fieldset>
                <br/>
                <button class="btn btn-default signin-button">
                    <span class="glyphicon glyphicon-user">登录</span>
                </button>
            </form>
        </div>
    </div>
</div>