@using Discussion.Core.Models
@using Discussion.Core.Utilities
@using Discussion.Web.Services.UserManagement.Avatar
@inject IUserAvatarService AvatarService
@model User
@{
    Layout = "_UserLayout.cshtml";
    ViewData["Title"] = "手机验证";

    var sevenDaysAgo = DateTime.UtcNow.AddDays(-7);
    var canModifyPhoneNumber = Model.PhoneNumberId.HasValue &&
                               Model.VerifiedPhoneNumber.CreatedAtUtc < sevenDaysAgo &&
                               Model.VerifiedPhoneNumber.ModifiedAtUtc < sevenDaysAgo;
}


<div class="panel panel-body panel-user-settings">
    <h3>手机验证</h3>
    <fieldset class="form-group">
        <label>
            用户名
        </label>
        <div>@Model.UserName</div>
    </fieldset>
    <fieldset class="form-group edit-phone-number @(Model.PhoneNumberId.HasValue ? "hide" : "show")">
        <label for="VerifiedPhoneNumber_PhoneNumber">
            手机号码
        </label>
        <div>
            <input type="number" class="form-control" autofocus
                   id="VerifiedPhoneNumber_PhoneNumber" name="VerifiedPhoneNumber_PhoneNumber"/>
        </div>
        <div rel="verification" class="verify-palette">
            <a data-status="send" class="verification-operation link">发送验证短信</a>
            <a data-status="re-send" class="verification-operation link">再次发送</a>
            <span data-status="sending" class="verification-operation">正在发送验证短信</span>
            <span data-status="sent" class="verification-operation">
                验证短信已发出，<span data-status="sent-1">请查收短信，尽快输入验证码</span><span data-status="sent-2" class="countdown"></span><span data-status="sent-2"> 秒后可再次发送</span>
            </span>
            <span data-status="error" class="verification-operation">无法发送验证短信，请稍后再试</span>
        </div>
    </fieldset>
    <fieldset class="form-group verification-submit">
        <label for="VerificationCode">
            验证码
        </label>
        <div>
            <input type="number" name="VerificationCode" id="VerificationCode" class="form-control"/>
        </div>
    </fieldset>
    <button id="btn-verify" class="btn btn-default verification-submit">验证</button>
    <fieldset class="form-group has-phone-number @(Model.PhoneNumberId.HasValue ? "show" : "hide")">
        <label>
            手机号码
        </label>
        <div>
            <input type="text"
                   class="form-control"
                   value="@StringUtility.MaskPhoneNumber(Model.VerifiedPhoneNumber?.PhoneNumber)"
                   title="@(canModifyPhoneNumber ? "" : "上次验证七天以后，才可以修改已验证的手机号")" disabled="disabled" />
        </div>
        <div class="verify-palette">
            <span class="verified-at" data-last-verified-at="@Html.Timestamp(Model.VerifiedPhoneNumber?.VerifiedTime)"></span> 已验证
            @if (canModifyPhoneNumber)
            {
                <a class="link change-phone-number">修改手机号</a>
            }
        </div>
    </fieldset>
</div>



@section Tail{
    <script>
        var sendCodeUrl = '@Url.Action("SendPhoneNumberVerificationCode", "User")';
        var verifyNumberUrl = '@Url.Action("DoVerifyPhoneNumber", "User")';
        $(function() {
            // "send", "re-send", "error", "sending", "sent"
            var currentStatus = null;

            function updateOperations(status) {
                currentStatus = status;
                $('.verification-operation').hide();
                $('.verification-operation[data-status=' + currentStatus + ']').show();

                if (status === 'sent') {
                    $('.verification-submit').show();
                    $('span[data-status=sent-2]').hide();
                    $('span[data-status=sent-1]').show();
                    setTimeout(function() {
                            $('span[data-status=sent-1]').hide();
                            $('span[data-status=sent-2]').show();
                            countdown(118);
                        },
                        5000);
                }

                function countdown(cur) {
                    if (cur === 0) {
                        updateOperations('re-send');
                    } else {
                        $('span[data-status=sent-2].countdown').text(cur);
                        setTimeout(function() {
                                countdown(--cur);
                            },
                            1000);
                    }
                }
            }

            function send() {
                var phoneNumberInput = $('#VerifiedPhoneNumber_PhoneNumber');
                var phoneNumber = phoneNumberInput.val();
                if (!phoneNumber) {
                    phoneNumberInput.focus();
                    return;
                }

                if (!(/^1\d{10}$/.test(phoneNumber))) {
                    alert('手机号的格式不正确，请输入 11 位国内手机号');
                    phoneNumberInput.focus();
                    phoneNumberInput.select();
                    return;
                }

                $('.verification').addClass('sent');
                updateOperations('sending');

                $.ajax({
                    url: sendCodeUrl,
                    method: 'POST',
                    data: {
                        __RequestVerificationToken: window.__RequestVerificationToken,
                        phoneNumber: phoneNumber
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (!data.hasSucceeded) {
                            updateOperations('error');
                        } else {
                            updateOperations('sent');
                        }
                    },
                    error: function() {
                        updateOperations('error');
                    }
                });
            }

            function verify() {
                var codeInput = $('#VerificationCode');
                var code = codeInput.val();
                if (!code) {
                    codeInput.focus();
                    return;
                }

                if (!(/^\d{6}$/.test(code))) {
                    alert('验证码格式不正确，请输入收到的6位验证码');
                    codeInput.focus();
                    codeInput.select();
                    return;
                }
                
                $.ajax({
                    url: verifyNumberUrl,
                    method: 'POST',
                    data: {
                        code: code,
                        __RequestVerificationToken: window.__RequestVerificationToken
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (data.hasSucceeded) {
                            location.reload();
                        } else {
                            alert('无法验证手机号：' + data.message);
                        }
                    },
                    error: function() {
                        updateOperations('error');
                    }
                });
            }

            updateOperations('send');
            $('a.link.verification-operation').click(send);
            $('#btn-verify').click(verify);
            $('a.link.change-phone-number').click(function() {
                $('.edit-phone-number').removeClass('hide');
                $('.has-phone-number').removeClass('show').addClass('hide');
            });
            
            window.DiscussionApp.utils.transformTimestampOn('.verified-at', 'data-last-verified-at');
        });


    </script>
}
