@using System.ComponentModel.DataAnnotations
@using System.Reflection
@model TopicListViewModel

@{
    ViewData["Title"] = "全部话题";

    var prevDisabled = Model.HasPreviousPage ? "" : "disabled";
    var nextDisabled = Model.HasNextPage ? "" : "disabled";
}

@functions{
    static string DescribeTopicType(TopicType topicType)
    {
        var memberInfo = typeof(TopicType).GetMember(topicType.ToString()).FirstOrDefault();
        return memberInfo.GetCustomAttribute<DisplayAttribute>().Name;
    }
}

@section Head{
<environment names="Development">
    <link rel="stylesheet" href="~/stylesheets/css/topic-list.css" />
</environment>
<environment names="QA,Integration,Staging,Production">
    <link rel="stylesheet" href="~/stylesheets/css/topic-list.min.css" asp-append-version="true" />
</environment>
}


<div class="row">
    <div class="panel no-padding panel-topic-list col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel-heading">
            全部话题
            @if(Context.IsAuthenticated())
            {
                <span class="pull-right">
                    @Html.ActionLink("创建新话题", "Create", "Topic")
                </span>
            }
        </div>

        <div class="panel-body no-padding">
            @foreach (var topicItem in Model.Topics.OrderByDescending(topic => topic.Id))
            {
                <div class="topic-item">
                    <div class="topic-meta-primary pull-left">
                        <span class="topic-type">@DescribeTopicType(topicItem.Type)</span>
                    </div>
                    <a class="topic-title" href="@Url.Action("Index", "Topic", new { id = topicItem.Id})">
                        @topicItem.Title
                    </a>
                    @if (topicItem.LastRepliedAt.HasValue)
                    {
                        <div class="topic-meta-secondary pull-right">
                            @topicItem.LastRepliedAt
                        </div>
                    }
                </div>
            }
            
            @if (Model.Topics.Count < 1)
            {
                <div class="no-topics-notice">
                    没有主题
                </div>
            }
        </div>
        <div class="panel-footer">
            @if (Model.Topics.Count > 0)
            {
                <a href="@Url.Action("List", "Topic", new {page = Model.CurrentPage - 1})"
                   class="btn btn-default @prevDisabled">
                    &lt; 前一页
                </a>
                
                <a href="@Url.Action("List", "Topic", new {page = Model.CurrentPage + 1})"
                   class="btn btn-default @nextDisabled">
                    后一页 &gt;
                </a>
            }
        </div>

    </div>
</div>
