@using Discussion.Web.Services.Identity
@model TopicListViewModel

@{
    ViewData["Title"] = "全部话题";

    var prevDisabled = Model.HasPreviousPage ? "" : "disabled";
    var nextDisabled = Model.HasNextPage ? "" : "disabled";
}



<div class="row">
    <div class="panel no-padding panel-topic-list col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel-heading">
            全部话题
            @if(Context.IsAuthenticated())
            {
                <span class="pull-right">
                    @Html.ActionLink("创建新话题", "Create", "Topic")
                </span>
            }
        </div>

        <div class="panel-body no-padding">
            @foreach (var topicItem in Model.Topics)
            {
                <div class="topic-item">
                    <div class="topic-meta-primary pull-left">
                        <span class="topic-type">@Html.DescribeTopicType(topicItem.Type)</span>
                    </div>
                    <a class="topic-title" href="@Url.Action("Index", "Topic", new { id = topicItem.Id})">
                        @topicItem.Title
                    </a>
                    @if (topicItem.LastRepliedAt.HasValue)
                    {
                        <div class="topic-meta-secondary pull-right">
                            <span class="user-gravatar"></span>
                            <span class="last-replied-at" data-last-replied-at="@Html.Timestamp(topicItem.LastRepliedAt)"></span>
                        </div>
                    }
                </div>
            }
            
            @if (Model.Topics.Count < 1)
            {
                <div class="no-topics-notice">
                    没有主题
                </div>
            }
        </div>
        <div class="panel-footer">
            @if (Model.Topics.Count > 0)
            {
                <a href="@Url.Action("List", "Topic", new {page = Model.CurrentPage - 1})"
                   class="btn btn-default @prevDisabled">
                    &lt; 前一页
                </a>
                
                <a href="@Url.Action("List", "Topic", new {page = Model.CurrentPage + 1})"
                   class="btn btn-default @nextDisabled">
                    后一页 &gt;
                </a>
            }
        </div>

    </div>
</div>


@section Tail{
    <script src="~/scripts/functions.js"></script>
    <script>
        $(document).ready(function() {
            window.DiscussionApp.utils.transformTimestampOn('.last-replied-at', 'data-last-replied-at');
        });
    </script>
}