@model List<Topic>

@{
    ViewData["Title"] = "My Discussion Site";
}


@section Head{
<environment names="Development">
    <link rel="stylesheet" href="~/stylesheets/css/topic-list.css" />
</environment>
<environment names="QA,Integration,Staging,Production">
    <link rel="stylesheet" href="~/stylesheets/css/topic-list.min.css" asp-append-version="true" />
</environment>
}


@functions{
    static string DescribeTopicType(TopicType topicType)
    {
        switch (topicType){
            case TopicType.Discussion:
                return "讨论";
            case TopicType.Question:
                return "问答";
            case TopicType.Job:
                return "招聘";
        }
        return null;
    }
}

<div class="row">
    <div class="panel no-padding panel-topic-list col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel-heading">
            全部话题
            <span class="pull-right">
                @Html.ActionLink("创建新主题", "Create", "Topic")
            </span>
        </div>

        <div class="panel-body no-padding">
            @foreach (var topicItem in Model.OrderByDescending(topic => topic.Id))
            {
                <div class="topic-item">
                    <div class="topic-meta-primary pull-left">
                        <span class="counts">@topicItem.ReplyCount/@topicItem.ViewCount</span>
                        <span class="topic-type">@DescribeTopicType(topicItem.TopicType)</span>
                    </div>
                    <a class="topic-title" href="@Url.Action("Index", "Topic", new { id = topicItem.Id})">
                        @topicItem.Title
                    </a>
                    @if (topicItem.LastRepliedAt.HasValue)
                    {
                        <div class="topic-meta-secondary pull-right">
                            @topicItem.LastRepliedAt
                        </div>
                    }
                </div>
            }
        </div>
        <div class="panel-footer">
            <!-- Pagination -->
        </div>

    </div>
</div>
