@using Discussion.Web.Services.Identity
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment

@{
    string dotnetClub = "dotnetClub";
    if (null == ViewData["Title"])
    {
        ViewData["Title"] = dotnetClub;
    }
    else
    {
        string title = (string) ViewData["Title"];
        ViewData["Title"] =  $"{title} - {dotnetClub}";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="keywords" content=".NET 开发,.NET Core club, .NET 跨平台, .NET 微服务, DevOps" />
    <meta name="description" content=".NET Core club 是国内 .NET 开发人员的聚集地，围绕 .NET 技术的问题解答与最佳实践展开讨论" />
    <link rel="shortcut icon" href="~/favicon/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon/favicon-96x96.png">
    <environment names="Development">
        <link rel="stylesheet" href="~/dist/packed-css-vendor.css" />
        <link rel="stylesheet" href="~/dist/packed-css.css" />
    </environment>
    <environment names="QA,Integration,Staging,Production">
        <link rel="stylesheet" href="~/dist/packed-css-vendor.min.css" />
        <link rel="stylesheet" href="~/dist/css/packed-css.min.css" asp-append-version="true"/>
    </environment>
    @RenderSection("Head", required: false)
</head>
<body class="with-generic-nav">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation">
                    <span class="sr-only">菜单栏</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">dotnetClub</a>
            </div>
            <div id="main-navigation" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">首页</a></li>
                    <li><a href="/about">关于</a></li>
                </ul>
                <div class="header-user pull-right">
                    @if (Context.IsAuthenticated())
                    {
                        <span class="username">欢迎你，@Context.User.Identity.Name</span>
                        <form class="signout-form" action="@Url.Action("DoSignOut", "Account")" method="post">
                            <button>退出登录</button>
                        </form>
                    }
                    else
                    {
                       
                        @Html.ActionLink("注册", "Register", "Account", null, new {@class = "signin-link"})
                        <span>&nbsp;</span>
                        @Html.ActionLink("登录", "Signin", "Account", null, new {@class = "signin-link"})
                    }
                </div>
            </div>
        </div>
    </nav>

    @RenderSection("PreContent", required: false)

    <div class="container body-content">
        @RenderBody()        
    </div>

    @RenderSection("PostContent", required: false)

<footer class="page-footer container">
    <p class="pull-left">© @DateTime.Today.Year dotnetClub</p>
    <p class="pull-right">本站与微软无关。所有话题及回复仅代表作者观点，其版权归属为作者本人。 <a href="https://jinshuju.net/f/PzMDyb" class="report-link" target="_blank">举报不良信息</a></p>
</footer>

<environment names="Development">
    <script src="~/dist/packed-js-vendor.js"></script>
    <script src="~/dist/packed-js.js"></script>
</environment>
<environment names="QA,Integration,Staging,Production">
    <script src="~/dist/packed-js-vendor.min.js"></script>
    <script src="~/dist/packed-js.min.js"></script>
</environment>

    @RenderSection("Tail", required: false)
</body>
</html>
<!-- Environment: @HostingEnvironment.EnvironmentName -->